
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}">
{% endblock %}
{% block content%}
<div class="container">
    <h2 style="color:chocolate; text-align:center">Trending news</h2>
    <hr>

    
    <div class="well">
        <div class="row">
            
            {% for new in news %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 posterPath" style="background: url({{new.poster}}) no-repeat center center">
                        <img src="{{new.urlImage}}" height="200px, width=100px",float="no-repeat center center">
                       
                    </div>
                    <br>
            
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 news-details">
                        
                        <h3>{{ new.title }}</h3>
                        <!-- <p class="name"> {{ new.name }}</p> -->
                        <p class="Author"> {{ new.Author}}</p> 
                        <p class="Description">{{ new.Description}} </p>
                        <p class="image"> {{ new.urlImage }}</p>
                             <p class="url"> {{ new.url }}</p>
                            <p class="date">{{ new.publishedOn}}</p>
                            <p class="content"> {{ new.content }}</p>
                        <button><a class="ratings" href="{{new.url}}" class="claudine" style="color: blue">View more</a></button>
            
                    </div>
                    {%endfor%}
        </div>
    </div>

</div>
{% endblock %}